* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #FDFDFB;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.container {
  max-width: 1174px;
  margin: auto;
}

header {
  height: 75px;
}
header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}
header .header__wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__wrapper .logo span {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14em;
  color: #555248;
}
header .header__wrapper .header__menu {
  width: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__wrapper .header__menu a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}
header .header__wrapper .header__icons {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__wrapper .header__icons .selected {
  position: relative;
}
header .header__wrapper .header__icons .selected span {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  padding: 2px 1px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #E6C8B4;
  font-size: 8px;
  line-height: 9px;
  left: 15px;
  top: -5px;
}

.watch__main {
  background-image: url("../img/watch__main_bg.png");
  background-size: contain;
  background-position: 54%;
  background-repeat: no-repeat;
  height: 750px;
}
.watch__main .watch__main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 98px 0 85px;
}
.watch__main .watch__main-wrapper .watch__main-description .description__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  font-size: 45px;
  line-height: 60px;
  color: #1B1A17;
}
.watch__main .watch__main-wrapper .watch__main-description .description__title:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 32px;
  left: -65px;
}
.watch__main .watch__main-wrapper .watch__main-description h3 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
  margin: 16px 0 39px 0;
}
.watch__main .watch__main-wrapper .watch__main-description p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 64px;
  width: 258px;
}
.watch__main .watch__main-wrapper .watch__main-description button {
  width: 205px;
  height: 64px;
  background: #444240;
  padding: 26px 38px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}
.watch__main .watch__main-wrapper .img__block {
  width: 500px;
  position: relative;
}
.watch__main .watch__main-wrapper .img__block img {
  width: 488px;
}
.watch__main .watch__main-wrapper .img__block span {
  position: absolute;
  font-family: "Prata", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}
.watch__main .watch__main-wrapper .img__block .watch__prace {
  top: 138px;
  left: -70px;
}
.watch__main .watch__main-wrapper .img__block .watch__prace img {
  width: 9.6px;
}
.watch__main .watch__main-wrapper .img__block .watch__prace:after {
  margin-left: 15px;
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 12px;
}
.watch__main .watch__main-wrapper .img__block .watch__diametr {
  bottom: 142px;
  width: 122px;
  right: -74px;
}
.watch__main .watch__main-wrapper .img__block .watch__diametr:before {
  left: -65px;
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 12px;
}

.popular__models {
  background-color: #ffffff;
  padding-top: 66px;
  padding-bottom: 86px;
}
.popular__models .popular__models-wrapper .models__title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}
.popular__models .popular__models-wrapper .see__all {
  width: 104px;
  float: right;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  padding-bottom: 12px;
  border-bottom: 1px solid #C4C0B6;
}
.popular__models .popular__models-wrapper .popular__models-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 55px;
}
.popular__models .popular__models-wrapper .popular__models-items li {
  width: 370px;
  height: 467px;
  padding: 40px 29px 40px 28px;
  background-color: #FDFDFB;
  background-image: url("../img/models_elipse.png");
  background-repeat: no-repeat;
  background-size: 313px 313px;
  background-position: 50% 57%;
  margin-top: 10px;
}
.popular__models .popular__models-wrapper .popular__models-items li h3 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 10px;
}
.popular__models .popular__models-wrapper .popular__models-items li span {
  font-family: "Prata", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
  position: relative;
}
.popular__models .popular__models-wrapper .popular__models-items li span img {
  width: 7.38px;
  margin-left: 4px;
}
.popular__models .popular__models-wrapper .popular__models-items li img {
  width: 313px;
}
.popular__models .popular__models-wrapper .popular__models-items li .more {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  color: #1B1A17;
  left: 48px;
}
.popular__models .popular__models-wrapper .popular__models-items li .more:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #8B8371;
  top: 12px;
  left: -48px;
}

.banner {
  height: 519px;
  background-color: #FDFDFB;
  background-image: url("../img/lines_banner.png"), url("../img/background_banner_1.png");
  background-position: right center, left center;
  background-repeat: no-repeat, no-repeat;
}
.banner .banner__wrapper {
  padding: 52px 124px 52px 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .banner__wrapper .banner__photo {
  position: relative;
}
.banner .banner__wrapper .banner__photo img {
  width: 521px;
}
.banner .banner__wrapper .banner__photo .pagination {
  position: absolute;
  right: 20%;
  bottom: -35px;
  width: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .banner__wrapper .banner__photo .pagination img {
  width: 5px;
}
.banner .banner__wrapper .banner__photo .pagination span {
  font-family: "Prata", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}
.banner .banner__wrapper .banner__description h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}
.banner .banner__wrapper .banner__description p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
  width: 376px;
  margin: 38px 0 45px 0;
}
.banner .banner__wrapper .banner__description button {
  background: #D4B098;
  width: 205px;
  height: 64px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}

.news {
  height: 631px;
  padding-top: 81px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.news .news__wrapper {
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news .news__wrapper .news__description {
  margin-top: 134px;
}
.news .news__wrapper .news__description h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}
.news .news__wrapper .news__description p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
  width: 376px;
  margin: 40px 0 120px 0;
}
.news .news__wrapper .news__description .social__icons {
  width: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news .news__wrapper .news__photos {
  width: 629px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news .news__wrapper .news__photos .news__photos-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news .news__wrapper .news__photos .news__photos-left img {
  width: 242px;
}
.news .news__wrapper .news__photos .news__photos-right {
  width: 377px;
}

footer {
  height: 275px;
  background-color: #444240;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
}
footer .footer__wrapper {
  padding: 67px 85px 67px 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__wrapper h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 33px;
}
footer .footer__wrapper .footer__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
}
footer .footer__wrapper .footer__logo span {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.14em;
  color: #ffffff;
}
footer .footer__wrapper .footer__logo .footer__phone {
  margin: 32px 0 15px 0;
}
footer .footer__wrapper .buyers ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 101px;
}
footer .footer__wrapper .about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 101px;
}
footer .footer__wrapper .payment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 101px;
}