@import './variables';
@import './mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $bgColor;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

.container {
    max-width: 1174px;
    margin: auto;
}

header {
    height: 75px;

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        .logo {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                @include playfairNormalFontFamily;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.14em;
                color: $headerLinksColor;
            }
        }

        .header__menu {
            width: 422px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                @include robotoNormalFontFamily;
                font-size: 14px;
                line-height: 16px;
                color: $headerLinksColor;
            }
        }

        .header__icons {
            width: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .selected {
                position: relative;

                span {
                    position: absolute;
                    text-align: center;
                    vertical-align: middle;
                    padding: 2px 1px;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background-color: #E6C8B4;
                    font-size: 8px;
                    line-height: 9px;
                    left: 15px;
                    top: -5px;
                }
            }
        }
    }
}

.watch__main {
    background-image: $watchMainBI;
    background-size: contain;
    background-position: 54%;
    background-repeat: no-repeat;
    height: 750px;

    .watch__main-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 98px 0 85px;

        .watch__main-description {
            .description__title {
                @include playfairNormalFontFamily;
                position: relative;
                font-size: 45px;
                line-height: 60px;
                color: $accentColor1;

                &:before {
                    @include line(50px);
                    top: 32px;
                    left: -65px;
                }
            }

            h3 {
                @include playfairNormalFontFamily;
                font-size: 30px;
                line-height: 40px;
                color: $accentColor1;
                margin: 16px 0 39px 0;
            }

            p {
                @include robotoLightFontFamily;
                font-size: 14px;
                line-height: 21px;
                color: $popularModelsTitleColor;
                margin-bottom: 64px;
                width: 258px;
            }

            button {
                width: 205px;
                height: 64px;
                background: $accentColor2;
                padding: 26px 38px;
                @include robotoMediumFontFamily;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $accentColor3;
            }
        }

        .img__block {
            width: 500px;
            position: relative;

            img {
                width: 488px;
            }

            span {
                position: absolute;
                @include prataNormalFontFamily;
                font-size: 16px;
                line-height: 22px;
                color: $accentColor1;
            }

            .watch__prace {
                top: 138px;
                left: -70px;

                img {
                    width: 9.6px;
                }

                &:after {
                    margin-left: 15px;
                    @include line(50px);
                    top: 12px;
                }
            }

            .watch__diametr {
                bottom: 142px;
                width: 122px;
                right: -74px;

                &:before {
                    left: -65px;
                    @include line(50px);
                    top: 12px;
                }
            }
        }
    }
}

.popular__models {
    background-color: $accentColor3;
    padding-top: 66px;
    padding-bottom: 86px;

    .popular__models-wrapper {
        .models__title {
            text-align: center;
            @include playfairNormalFontFamily;
            font-size: 32px;
            line-height: 43px;
            color: $accentColor1;
        }

        .see__all {
            width: 104px;
            float: right;
            @include robotoMediumFontFamily;
            font-size: 16px;
            line-height: 19px;
            color: $accentColor2;
            padding-bottom: 12px;
            border-bottom: 1px solid #C4C0B6;
        }

        .popular__models-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 55px;

            li {
                width: 370px;
                height: 467px;
                padding: 40px 29px 40px 28px;
                background-color: $bgColor;
                background-image: $popularModelsItemBI;
                background-repeat: no-repeat;
                background-size: 313px 313px;
                background-position: 50% 57%;
                margin-top: 10px;

                h3 {
                    @include playfairBoldFontFamily;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                    color: $popularModelsTitleColor;
                    margin-bottom: 10px;
                }

                span {
                    @include prataNormalFontFamily;
                    font-size: 12px;
                    line-height: 16px;
                    color: $popularModelsTitleColor;
                    position: relative;

                    img {
                        width: 7.38px;
                        margin-left: 4px;
                    }
                }

                img {
                    width: 313px;
                }

                .more {
                    @include playfairNormalFontFamily;
                    font-size: 16px;
                    line-height: 21px;
                    position: relative;
                    color: $accentColor1;
                    left: 48px;

                    &:before {
                        @include line(30px);
                        top: 12px;
                        left: -48px;
                    }
                }
            }
        }
    }
}

.banner {
    height: 519px;
    background-color: $bgColor;
    background-image: $bannerLeftBI, $bannerRightBI;
    background-position: right center, left center;
    background-repeat: no-repeat, no-repeat;

    .banner__wrapper {
        padding: 52px 124px 52px 79px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .banner__photo {
            position: relative;

            img {
                width: 521px;
            }

            .pagination {
                position: absolute;
                right: 20%;
                bottom: -35px;
                width: 63px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 5px;
                }

                span {
                    @include prataNormalFontFamily;
                    font-size: 12px;
                    line-height: 16px;
                    color: $popularModelsTitleColor;
                }
            }
        }

        .banner__description {
            h2 {
                @include playfairNormalFontFamily;
                font-size: 32px;
                line-height: 43px;
                color: $accentColor1;
            }

            p {
                @include robotoNormalFontFamily;
                font-size: 16px;
                line-height: 150%;
                color: $accentColor2;
                width: 376px;
                margin: 38px 0 45px 0;
            }

            button {
                background: #D4B098;
                width: 205px;
                height: 64px;
                @include robotoMediumFontFamily;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.05em;
                color: $accentColor3;
                text-align: center;
            }
        }
    }
}

.news {
    height: 631px;
    padding-top: 81px;
    padding-bottom: 90px;
    background-color: $accentColor3;

    .news__wrapper {
        height: 460px;
        display: flex;
        justify-content: space-between;

        .news__description {
            margin-top: 134px;

            h2 {
                @include playfairNormalFontFamily;
                font-size: 32px;
                line-height: 43px;
                color: $accentColor1;
            }

            p {
                @include robotoNormalFontFamily;
                font-size: 16px;
                line-height: 27px;
                color: $accentColor2;
                width: 376px;
                margin: 40px 0 120px 0;
            }

            .social__icons {
                width: 93px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .news__photos {
            width: 629px;
            display: flex;
            justify-content: space-between;

            .news__photos-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    width: 242px;
                }
            }

            .news__photos-right {
                width: 377px;
            }
        }
    }
}

footer {
    height: 275px;
    background-color: $accentColor2;

    a {
        @include robotoNormalFontFamily;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.75);
    }

    .footer__wrapper {
        padding: 67px 85px 67px 83px;
        display: flex;
        justify-content: space-between;

        h2 {
            @include robotoBoldFontFamily;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: $accentColor3;
            margin-bottom: 33px;
        }

        .footer__logo {
            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 130px;
            }

            span {
                @include playfairBoldFontFamily;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.14em;
                color: $accentColor3;
            }

            .footer__phone {
                margin: 32px 0 15px 0;
            }
        }

        .buyers {
            ul {
                @include footerRows;
            }
        }

        .about {
            ul {
                @include footerRows;
            }
        }

        .payment {
            ul {
                @include footerRows;
            }
        }
    }
}