$bgColor: #FDFDFB;
$accentColor1: #1B1A17;
$accentColor2: #444240;
$accentColor3: #ffffff;
$linesColor: #8B8371;
$headerLinksColor: #555248;
$popularModelsTitleColor: rgba(27, 26, 23, 0.82);
$playfairFontFamily: 'Playfair Display', serif;
$robotoFontFamily: 'Roboto', sans-serif;
$prataFontFamily: 'Prata', sans-serif;
$watchMainBI: url("../img/watch__main_bg.png");
$popularModelsItemBI : url('../img/models_elipse.png');
$bannerLeftBI: url('../img/lines_banner.png');
$bannerRightBI: url('../img/background_banner_1.png');